# Copy this to .env

PROJECT_NAME="Book Warehouse API"
ENV="dev"

API_HOST="127.0.0.1"
API_PORT=8000
API_RELOAD=True

DATABASE_URL="sqlite:///./warehouse.db"

SECRET_KEY="PUT_YOUR_SECRET_HERE"
ACCESS_TOKEN_EXPIRE_MINUTES=60

LOG_LEVEL="INFO"
